HELP.md
uploads/
bin/
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
runningMentorlyLearn/google-cloud-cli-474.0.0-linux-x86_64.tar.gz
runningMentorlyLearn/google-cloud-sdk.staging/
runningMentorlyLearn/google-cloud-sdk/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Local db ###
/db_data

### Mac OS ###
.DS_Store

# Game Test Output Folder
test-outputs/
